body {
  text-align: center;
background-color: #fff4ff;
}

h1 {
padding: 10%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #3ff4de;
  color: #f4a93f;
  font-style: italic;
}

h2 {
  text-align: center;
color: #ff72a6;
}

p {
  text-align: center;
color: #000000 
}

img {
text-align: center;
}
