body {
  text-align: center;
}

h1 {
padding: 10%;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #3ff4de;
  color: #f4a93f;
  font-style: italic;
}

h2 {
color: #ff72a6;
}

ul {
text-align: center;
}

li {
text-align: center;
}

p {
color: #000000 
}
